/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#leaflet-map {
	width:50%; !important
}

.view-display-id-attachment_2 {
	width:40%;
	float:right;
}

.view-map-filter-leaflet .view-filters,
.view-map-filter-activity .view-filters {
	float:right;
	width:40%;

}
