/**
 * This will display them grid elements as block rather than inline for mobile browsers 
 * (essentially anything smaller than the narrow grid size, and media query declares. 
 */

.responsive-layout-mobile .view-front-page-internal-links .view-content .views-row {
	display:inline-block;
	position:relative;
	float:left;
	width:100%;
	margin-top:1em;
	margin-left:0;
	overflow:hidden;
	height:auto;
	text-align:left;
}

.responsive-layout-mobile .view-front-page-internal-links.view-display-id-block .view-content .views-row {
	font-size:.6em;
}

.responsive-layout-mobile #region-branding {
	clear:both;
}

.responsive-layout-mobile #zone-content {
	padding-left:0;
}

#search-block-form {
	display:none;
}

.responsive-layout-mobile .logo-img img {
	width:25px;
	height:28px;
	margin-bottom:1em;
}

.responsive-layout-mobile h2.site-title a,
.responsive-layout-mobile h1.site-title a {
	font-size:28px;
}

h6.site-slogan {
	font-size:1em;
}

.responsive-layout-mobile.front .views-field-field-image {
	height:150px;
	overflow:hidden;
}

.responsive-layout-mobile.front #block-menu-menu-footer-menu {
	margin-bottom:1em;
}

.responsive-layout-mobile.front #block-block-1 {
	margin:1em;
}

.pane-node-title .pane-content {
	font-size: 28px;
}


.responsive-layout-mobile .pane-trail-metadata, 
.responsive-layout-mobile .trailmeta2, 
.responsive-layout-mobile .views-exposed-form label,
.responsive-layout-mobile .openlayers-popup {
	font-size:.6em;
}

.responsive-layout-mobile #region-content {
	padding:1em;
}

.responsive-layout-mobile #leaflet-map {
	width:100%;
	margin-bottom:1em;
}

.responsive-layout-mobile #quicktabs-trail_tabs .item-list ul.quicktabs-tabs.quicktabs-style-basic li a {
	font: bold 10px/12px Arial !important;
}

.responsive-layout-mobile .openlayers-map,
.responsive-layout-mobile .openlayers-container {
	height:250px !important;
}

.responsive-layout-mobile .view-display-id-attachment_2 {
	width:100%;
	float:none;
	clear:both;
	margin:0;
}

.responsive-layout-mobile .view-map-filter-leaflet .view-filters,
.responsive-layout-mobile .view-map-filter-activity .view-filters {
	float:none;
	width:100%;
	margin:1em;
}

.responsive-layout-mobile #region-menu .navigation {
	font-size:.65em;
}


.responsive-layout-mobile .panels-flexible-region-1-trail_system_info {
	margin-left:0;
	margin-right:0;
}

.responsive-layout-mobile .view-id-map_filter_districts .attachment .view-id-map_filter_districts .views-row {
	width:100%;
}

.responsive-layout-mobile .block-menu-navigation-menu ul li {
	font-size:1em;
}

.responsive-layout-mobile .view-metric-images img { /*images*/
	width:75px;
	height:75px;
}

.responsive-layout-mobile .view-id-map_filter_districts .attachment .view-id-map_filter_districts {
	padding:0;
	margin-top:1em;
}

.responsive-layout-mobile .panels-flexible-region-1-metadata,
.responsive-layout-mobile .panels-flexible-region-1-tabs {
	width:100%;
	clear:both;
}


.responsive-layout-mobile.node-type-trail .panels-flexible-row-1-1-inside .panels-flexible-region-1-map,
.responsive-layout-mobile.node-type-trail .panels-flexible-row-1-1-inside .panels-flexible-region-1-image_and_graph_content {
	width:100% !important;
	float:none;
	margin-top:1em;
}

@media (max-width: 480px) {
	 .node-type-trail .pane-trail-system-video iframe,
	 .node-type-metric-entry .pane-node-field-video-embed-link iframe {
	  width:265px !important;
	  height:198px;
	}
	
}
