/* This file will hold styles that are loaded using the same media query as the wide grid. */

input.form-submit {
	font:italic 1.15em Georgia, "Times New Roman", Times, serif;
}

ul#main-menu li {
	margin-left:2.2em;
	margin-right:2.2em;
}

.view-display-id-block .view-content .views-row .views-field-field-image {
	height:400px;
	overflow:hidden;
}

.view-display-id-block_1 .view-content .views-row .views-field-field-image {
	height:150px;
	overflow:hidden;
}

.front .view-display-id-block .view-content .views-row {
	width:48%;
	height:565px;
}

.pane-trail-metadata, .trailmeta2, .views-exposed-form label, .openlayers-popup {
	font-size:.8em;
}

.pane-node-title .pane-content {
	font-size: 36px;
}

.view-display-id-attachment_2 {
	width:40%;
	float:right;
}

.page-learn-about-nature .view-learn-about-nature .views-row {
	margin:1em;
}

.page-learn-about-nature .view-learn-about-nature .views-row img {
	width:125px;
	height:125px;
}

.view-map-filter-leaflet .view-filters,
.view-map-filter-activity .view-filters {
	float:right;
	width:40%;

}

.view-id-map_filter_districts .attachment .view-id-map_filter_districts .views-row {
	width:20%;
	margin-right:1em;
	position:relative;
	float:left;
}

.block-menu-navigation-menu ul li {
	font-size:1.6em;
}

.node-type-trail .pane-trail-system-video iframe,
.node-type-metric-entry .pane-node-field-video-embed-link iframe  {
	width:640px;
}

h6.site-slogan {
	font-size:1.1em;
}

.logo-img img {
	width:50px;
	height:56px;
}

.view-metric-images img { /*images*/
	width:125px;
	height:125px;
}

#leaflet-map {
	width:55%;
}
