/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 .block-menu-navigation-menu ul li {
	font-size:1.2em;
}
 
#search-block-form {
	display:none;
} 

.pane-trail-metadata, .trailmeta2, .views-exposed-form label, .openlayers-popup {
	font-size:.7em;
}

.pane-node-title .pane-content {
	font-size: 32px;
}

.logo-img {
	margin-right:1em;
	position:relative;
	display:inline-block;
	float:left;
}
 
ul#main-menu li {
	font-size:1em;
}

.logo-img img {
	width:40px;
	height:45px;
}

.responsive-layout-narrow .container-12 .grid-4 {
	width:375px;
}

.responsive-layout-narrow #section-header {
	min-height:100px;
}

.responsive-layout-narrow .container-12 .grid-8 {
	width: 300px;
}

.site-name-slogan {
	position:relative;
	display:inline-block;
	float:left;
}

.node-type-trail .pane-trail-system-video iframe,
.node-type-metric-entry .pane-node-field-video-embed-link iframe,
.page-node-118 iframe {
	width:500px;
}
  
/*FRONT PAGE*/ 
 
.front .view-display-id-block .view-content .views-row .views-field-field-image {
	height:150px;
	overflow:hidden;
}

.front .view-display-id-block_1 .view-content .views-row .views-field-field-image {
	height:150px;
	overflow:hidden;
}

.front .view-display-id-block .view-content .views-row {
	width:95%;
	height:305px;
}

/*BROWSE TRAILS*/

.view-id-map_filter_districts .attachment .view-id-map_filter_districts .views-row {
	width:40%;
	margin-right:1em;
	position:relative;
	float:left;
}

.view-display-id-attachment_2 {
	width:100%;
}

.view-map-filter-leaflet .view-filters,
.view-map-filter-activity .view-filters {
	width:30%;
}

.view-map-filter-activity .form-type-textfield #edit-title {
	width:130px;
}

.view-map-filter-leaflet .view-filters,
.view-map-filter-activity .view-filters {
	float:none;
	width:100%;
	margin:1em;
}

#leaflet-map {
	width:100%;
}

/*TRAILS PAGE*/

img.weather-image {
	float:none;
	clear:both;
}

.responsive-layout-narrow .weather ul {
	float:none;
	clear:both;
}

/*LEARN ABOUT NATURE*/

.page-learn-about-nature .view-learn-about-nature .views-row {
	margin:.15em;
}

.page-learn-about-nature .view-learn-about-nature .views-row img {
	width:100px;
	height:100px;
}

.view-metric-images img { 
	width:90px;
	height:90px;
}

/* BROWSE TRAILS MAP */
ul#nfnc-browse-trails-map {
    background-position: 0 -395px;
    width: 480px;
    height: 294px;
}

#nfnc-browse-trails-cheoah {
    top: 190px;
    left: 53px;
}

#nfnc-browse-trails-cheoah .nfnc-browse-trails-map-link {
    background-position: -642px -72px;
    width: 82px;
    padding: 53px 0 0 !important;
}

#nfnc-browse-trails-cheoah .nfnc-browse-trails-map-link:hover {
    background-position: -642px -232px;
}

#nfnc-browse-trails-tusquitee {
    top: 227px;
    left: 6px;
}

#nfnc-browse-trails-tusquitee .nfnc-browse-trails-map-link {
    background-position: -755px -87px;
    width: 142px;
    padding: 64px 0 0 !important;
}

#nfnc-browse-trails-tusquitee .nfnc-browse-trails-map-link:hover {
    background-position: -755px -280px;
}