@charset "utf-8";
/* CSS Document */

/*general things that need to be hidden*/
#toolbar, #region-menu, .not-front #region-sidebar-first, ul.tabs,
.view-map-filter-leaflet > .view-content, .narrow-multigraph, .mobile-multigraph, iframe {
	display:none !important;
}

.view-map-filter-leaflet .attachment .view-content {
	display:block !important;
}

/*front page things that need to be hidden*/
.front .views-field-field-image {
	display:none;
}

div {
	background:none;
}

body {
	font-size:.8em !important;
}

#section-header {
	height:100px;
	min-height:100px !important;
}

#zone-content a:after{
	content:" (" attr(href) ") ";
	font-size:0.8em;
	font-weight:normal;
}

#zone-content img a:after{
	display:none;
}

html,body,#section-header,#section-content div {
	background:none;
}

h1.site-title a, h2.site-title a, 
h6.site-slogan,
.pane-trail-metadata, .pane-trail-metadata a {
	color:#334111!important;
}


.front #block-views-front-page-internal-links-block .views-row h2 {
	border-bottom: thin dotted #334111;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 18px;
}

.logo-img {
	display:none;
}

.logo-img img {
	width: 50px;
	height: 56px;
}

.front #block-system-main .content p, .context-home #block-system-main .content p,
.front .view-display-id-block .view-content .views-row h2 a {
	color:#334111;
	font-size:1em;
}

.front .view-display-id-block .view-content .views-row {
	color:#333;
	font-size:1em;
}

.quicktabs-hide {
	display:block;
}

.panels-flexible-region-1-tabs {
	width:100%;
	float:right;
}